{{ header }}
<div class="container">
  <div class="row home_row">
{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}

    <div id="content" class="{{ class }}">
        <div class="content-top">   
             {{ content_top }}
        </div>
    {{ content_bottom }}
    {{ column_right }}
</div>
</div>
</div> 
 
{{ footer }}